/* Common style */
.dc-curtain-products-row {
	margin: 40px auto 120px;
	max-width: 1600px;
	width: 90%;
}

.dc-curtain-products-row .dc-curtain-products-item {
	color: #000;  
}

.dc-curtain-products-offset{
		transform: translateY(-50px);
}

.dc-curtain-products-row figure {
	position: relative;
	overflow: hidden;
	background: #333;
}

.dc-curtain-products-row figure img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.dc-curtain-products-row figcaption {
	position: absolute;
	top: 0;
	z-index: 11;
	padding: 10px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.dc-curtain-products-row figcaption h3 {
	margin: 0 0 20px 0;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 14px;
	transition: transform 0.3s;
}

.dc-curtain-products-row figcaption div.dc-curtain-products-interface {
	padding: 0 20px;
	color: #aaa;
	font-weight: 300;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	opacity:0;
}

.dc-curtain-products-row figcaption h3,
.dc-curtain-products-row figcaption div.dc-curtain-products-interface {
	transform: translateY(0px);
}

.dc-curtain-products-row figcaption,
.dc-curtain-products-row figcaption h3,
.dc-curtain-products-row figcaption div.dc-curtain-products-interface {
	backface-visibility: hidden;
}

/* Style for SVG */
.dc-curtain-products-row svg {
	position: absolute;
	top: -1px; /* fixes rendering issue in FF */
	z-index: 10;
	width: 100%;
	height: 100%;
}

.dc-curtain-products-row svg path {
	fill: rgba(255, 255, 255, 0.9);
}

/* Hover effects */
.dc-curtain-products-row .dc-curtain-products-item:hover figure img {
	opacity: 1;
}

.dc-curtain-products-row .dc-curtain-products-item:hover figcaption h3,
.dc-curtain-products-row .dc-curtain-products-item:hover figcaption div.dc-curtain-products-interface {
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
}

.dc-curtain-products-row .dc-curtain-products-item:hover figcaption div.dc-curtain-products-interface {
	opacity: 1;
}

.dc-curtain-products-row figcaption div.dc-curtain-products-interface {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}


.dc-curtain-products-row figcaption h3,
.dc-curtain-products-row figcaption div.dc-curtain-products-interface{
	-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
	timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
}

.dc-curtain-products-row .dc-curtain-products-item:hover figcaption div.dc-curtain-products-interface{
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}

/* Opencart Elements */
.dc-curtain-products-row figcaption div.dc-curtain-products-interface span{
		width: 20px;
		height: 20px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: #000;
		color: #fff;
		margin: 0 4px 4px 0;
		font-size: 10px;
		font-weight: 700;
}

.dc-curtain-products-form{

		margin-top:60px;
}

.dc-curtain-products-btn {
	  display: inline-flex;
	  justify-content: center;
	  align-items: center;
		background: #000;
		color: #fff;
	  transition: all 0.3s ease-in-out;
		border: 1px solid #000;
		width: 50px;
		height: 50px;
		font-size: 16px;
	  border-radius: 50%;
		margin: auto 10px;
	  padding: 0px;
}

.dc-curtain-products-btn:hover {
		background: #d7c785;
		color: #fff;
	  border-color: #d7c785;
		transform: rotate(360deg);
}

.dc-curtain-products-price-panel{
		position: absolute;
		bottom:0px;
		left:0px;
		right:0px;
		background: rgba(255, 255, 255, 0.9);
		transform: translateY(100%);
		transition: all 0.3s ease;
		padding: 10px;
		text-align: center;
}

.dc-curtain-products-price-panel p{
		margin: 0px;
}

.dc-curtain-products-row .dc-curtain-products-item:hover .dc-curtain-products-price-panel{
		transform: translateY(0%);
}

.dc-curtain-products-header h2{
		text-align: center;
}

.dc-curtain-products-description{
		max-width: 700px;
		margin: 15px auto 100px auto;
		text-align: center;
}
